<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Filter by
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("post time", jobs_path ) %>
        </li>
    </ul>
</div>
<!-- <table class="table table-boldered">
    <thead>
        <tr>
            <td>
                Job</td>
            <td>Company</td>
            <td>City</td>
            <td>Salary</td>
            <td>Post time</td>
        </tr>

    </thead>
    <tbody>
        <% @jobs.each do |job| %>
        <tr>
            <td>
                <%= link_to(job.title, job_path(job)) %>
            </td>
            <td>
                <%= job.company %>
            </td>
            <td>
                <%= job.city %>
            </td>
            <td>
                <%= job.salary%>
            </td>
            <td>
                <%= job.created_at %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table> -->


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Job</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">

  <%= render :partial => "jobs/search_bar" %>
<table class="table table-striped">
    <thead>
        <tr>
            <td><strong>版面</td>

            <td><strong>大鱼币</td>
            <td><strong>详情</td>
        </tr>

    </thead>
    <tbody>
        <% @jobs.each do |job| %>
        <tr>
            <td>
                <%= link_to(job.title, job_path(job)) %>
            </td>

            <td>
                <%= job.salary%>
            </td>
            <td>
                <%= job.description %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

</body>
</html>
