<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("按创建时间", jobs_path ) %>
        </li>
    </ul>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Job</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<%= render :partial => "jobs/search_bar" %>
  <section class="jobs-species">
<table class="table table-striped">
    <thead>
        <tr>
            <td><strong>版面</td>

            <td><strong>大鱼币</td>
            <td><strong>详情</td>
              <td><strong>创建时间</td>
                 <td>操作</td>
        </tr>

    </thead>
    <tbody>
        <% @jobs.each do |job| %>
        <tr>
            <td>
                <%= link_to(job.title, job_path(job)) %>
            </td>

            <td>
                <%= job.salary%>
            </td>
            <td>
                <%= job.description %>
            </td>
            <td><%= job.created_at.to_date %></td>
             <td><%= link_to("应征", new_job_resume_path(job), class: "btn btn-xs btn-default") %></td>
        </tr>
        <% end %>
    </tbody>
</table>
</section>

<footer class="text-center ">
  <hr>
    <p class="text-center"><%= link_to '联系我们', contact_path %>-<a href="#s">关于我们</a>-<a href="#s">加入我们</a>-<a href="#s">帮助中心</a>-<a href="#s">意见反馈</a>-<a href="#s">客户端下载</a>

      <br>  Design by xiaodanyang｜Copyright ©大鱼

    </p>
</footer>

</body>
</html>
